#gameboard {
  display: flex;
  justify-content: center;
}
#timer{
  margin-top: 50px;
  margin-left: 40px;
  font-size: 9pt;
  color: red;
}
#score{
  font-size: 16pt;
  color: red;
  margin-left: 60px;
  margin-top: 20px;
}
.square {
  display: flex;
  width: 55px;
  height: 55px;
  border: 1px solid #d5d5d5;
  align-items: center;
  justify-content: center;
  border-radius: 15%;
  margin: 2px;
  background-color: #e5ff96;
}

.playAgain>button{
  height: 40px;
  width: 120px;
  background-color: #ff52b4;
  color: white;
}

.row{
  display: flex;
  flex-direction: row;
}

#input_box {
  margin-top: 30px;
}
#input_box>input[type=text]{
  height: 30px;
  padding: 4px;
  width: 120px;
  border: 1px solid green;
  border-radius: 5px;
}
.textbox {
  margin-left: 10px;
  margin-right: 50px;
}
#wordList{
  border: 1px solid #ff52b4;
  border-radius: 10px;
  width: 150px;
  margin-left: 40px;
  min-height: 235px;
  margin-top: 17px;
}
.wordList>li{
  list-style: none;
  min-height: 100%;
  font-size: 12px;
  display: inline-block;
  padding: 4px;
  /* padding: 3px; */
}
.wordList{
  padding: 4px;
}
.boards{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.addButton{
  margin-left: 20px;
  background: #531eff;
  color: white;
  height: 30px;
  border-radius: 3px;
}

.gameSubmit{
  margin-top: 40px;
  margin-left: 40px;
  background-color: red;
  color: white;
  width: 120px;
  height: 40px;
  font-size: 16px;
}

.error{
  color: red;
  font-size: 10;
}
