#gameboard {
  margin-left: 50px;
}
#timer{
  margin-top: 50px;
  margin-left: 40px;
  font-size: 9pt;
  color: red;
}
#score{
  font-size: 16pt;
  color: red;
  margin-left: 60px;
  margin-top: 20px;
}
.square {
  display: flex;
  width: 80px;
  height: 80px;
  border: 1px solid #d5d5d5;
  align-items: center;
  justify-content: center;
}

.row{
  display: flex;
  flex-direction: row;
}

#input_box {
  margin-top: 30px;
}

.textbox {
  margin-left: 10px;
  margin-right: 50px;
}
#wordList{
  border: 1px solid gray;
  min-width: 120px;
  margin-left: 40px;
  height: 325px;
  margin-top: 15px;
}
.wordList{
  list-style: none;
  min-height: 100%;
}
.boards{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wordListTitle {
  margin-left: 20px;
}

.addButton{
  margin-left: 20px;
  background: green;
  color: white;
  height: 30px;
  border-radius: 3px;
}

.gameSubmit{
  margin-top: 40px;
  margin-left: 40px;
  background-color: red;
  color: white;
  width: 120px;
  height: 40px;
  font-size: 16px;
}

.error{
  color: red;
  font-size: 10;
}
